body {
  margin: 0px;
  padding: 10px;
  font-family: cursive, monospace, serif, open-sans, bastian, Helvetica,
    sans-serif;
  min-width: 400px;
}

input {
  padding: 10px 10px 10px 10px;
  width: 100%;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #417293;
  font-family: monospace, cursive, serif, open-sans, bastian, Helvetica,
    sans-serif;
}

button {
  /* background-color: #2595b1; */
  padding: 10px 20px;
  margin-top: 5px;
  border-radius: 4px;
  cursor: pointer;
  /* color: aliceblue; */
  font-weight: bold;
  font-family: monospace, cursive, sans-serif, open-sans, Helvetica, serif,
    bastian;
}

button:hover {
  transform: scale(1.02);
}

.saveButton {
  color: white;
  background-color: #2595b1;
  border: none;
}

.deleteButton {
  color: #2595b1;
  background-color: white;
  border: 1px solid #2595b1;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
}

li {
  margin-top: 5px;
}

li a {
  color: #2595b1;
  /* text-decoration: none; */
}
